.footer {
    background: #2F2F51;
    color: #fff;
    padding: 52px 0 55px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
}

.footer__column {
    display: flex;
    align-items: center;
    gap: 22px;
}

.footer__text {
    font-size: 16px;
    line-height: 1.25;
}

.nav__footer {}

.footer__nav-list {
    display: flex;
    gap: 30px;
}

.footer__nav-item {
    font-size: 14px;
    line-height: 2.25;
    transition: var(--transition);
}

.footer__nav-link {
    transition: var(--transition);
}

.footer__nav-item:hover .footer__nav-link {
    color: #EF7F04;
}
