@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


.service {
    margin-top: 67px;
    margin-bottom: 103px;
}

.service__title {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.service__title,
.service__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    color: #2F2F51;
}

.service__cards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10.5px;
    color: #fff;
}

.service__cards-item {
    /* background: #6b6b9e; */
    background: url("../img/service-card-white.png") 70% 100% / cover no-repeat;
    padding: 50px 40% 50px 50px;
    position: relative;
    transition: var(--transition);
    
}

.service__card-background {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    /* background: url("../img/service-card-white.png") 70% 100% / cover no-repeat; */
}

.service__card-background img {
    width: 100%;
    
}

.service__card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 21px;
}

.service__card-icon {
}
.service__card-title {
}
.service__card-text {
    line-height: 1.17;
    color: #2F2F51;
    grid-column: 1 / 3;
}

.service__card-arrow {
    position: absolute;
    top: 83%;
    left: 87%;
}

.service__card-arrow path {
    transition: var(--transition);

}

.service__cards-item:hover {
    box-shadow: 5px 5px 5px #ad9d9d81;
}

.service__cards-item:hover .service__card-arrow path {
    stroke: #EF7F04;
}


