@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";


.service {
    margin-top: 67px;
    margin-bottom: 103px;
}

.service__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    color: var(--blue);
}

.service__cards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10.5px;
    color: var(--akcentnyy);
}

.service__cards-item {
    background: linear-gradient(to right, #fff 0%, #fff 50%, transparent 100%), url("../img/service-card-1.jpg") 100% 0% / cover no-repeat;
    padding: 50px 40% 50px 50px;
    max-width: 595px;
    position: relative;
    transition: var(--transition);

}

.service__card-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 21px;
}

.service__card-icon {}

.service__card-title {}

.service__card-text {
    line-height: 1.17;
    color: var(--blue);
    grid-column: 1 / 3;
}

.service__card-arrow {
    position: absolute;
    top: 83%;
    left: 87%;
}

.service__card-arrow path {
    transition: var(--transition);

}

.service__cards-item:hover {
    box-shadow: 5px 5px 5px #ad9d9d81;
}

.service__cards-item:hover .service__card-arrow path {
    stroke: var(--orange);
}

/* ======================================== */

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
    max-height: 222px;
}

.gallery__img img {
    width: 100%;
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    gap: 50px 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__nav {
    display: flex;
    gap: 98px;
    align-items: end;
    position: relative;
    font-family: var(--second-family);
    font-size: 42px;
    line-height: .9;
    justify-content: end;
}

.gallery__prev,
.gallery__next {
    cursor: pointer;
    border: 1.5px solid var(--akcentnyy);
    background: var(--fonovyy-svetlyy);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--akcentnyy);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--fonovyy-svetlyy);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.50px solid var(--disabled);
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: var(--disabled);
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: var(--fonovyy-svetlyy);
}

.gallery__pagination {
    text-align: center;
    color: var(--nabornyy);
    display: flex;
    position: absolute;
    /* left: 38.9%;
    top: 82.1%; */
    left: 50%;
    top: 100%;
    height: auto;
    transform: translate(-50%, -34px);
    width: auto;
}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}

/* ======================================== */

.tab-controls {
    display: flex;
    gap: 26px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.tab-controls__item {
    /* background: var(--fonovyy);
    border-radius: 100px;
    padding: 14px 30px;
    max-width: 133px;
    height: 52px; */
    flex-shrink: 0;
}

.tab-controls__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);

    transition: var(--transition);
}

.tab-controls__link:hover {
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab-controls__link--active {
    background: var(--fonovyy);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: flex;
}

/* ======================================== */
/* ======================================== */
/* ======================================== */
/* ======================================== */
/* ======================================== */
/* ======================================== */
/* ======================================== */


@media (max-width: 1150px) {
    .nav__burger {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--blue);
        padding: 0 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
    }

    .nav__link {
        color: var(--akcentnyy);
    }

    .nav__link::before {
        display: none;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav__burger {
        transform: translateY(0%);
        visibility: visible;
        display: flex;
        flex-direction: column;
        opacity: 1;
    }

    .body--opened-menu .block-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .burger-icon {
        display: flex;
    }

    /* ====================================== */

    .header__info {
        margin-top: 90px;
        margin-left: 10px;
    }

    .header-ruler {
        position: absolute;
        top: 82.8%;
        left: -22.7%;
    }

    /* ====================================== */
    /* ====================================== */
    /* ====================================== */
    /* ====================================== */
}

@media (max-width: 1100px) {

    .header__info {
        margin-top: 90px;
        margin-left: 10px;
    }

    .header-ruler {
        position: absolute;
        top: 82.8%;
        left: -32%;
        transform: scale(0.9);
    }
}

@media (max-width: 1000px) {

    .header__inner {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .header__info {
        margin-top: 90px;
        margin-left: 10px;
    }

    .header-ruler {
        left: -21.7%;
        transform: scale(1);
    }


    .header__form {
        margin-top: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 550px) {

    .header__content-list {
        display: flex;
        flex-direction: column;
    }

    .header__content-item {
        display: grid;
        grid-template-columns: 0.3fr 0.6fr;
        justify-items: center;
        gap: 15px;
        align-items: center;
    }

    .header__content-item img {
        margin-bottom: 0;
    }

    .header__form-button {
        padding-bottom: 0;
    }

    .header-ruler {
        display: none;
    }
}

@media (max-width: 370px) {

    .header__info-text {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .header__form {
        padding: 20px;
    }

    .form__title {
        margin-bottom: 0;

    }
}

/* ====================================== */
/* ====================================== */
/* ====================================== */
/* ====================================== */