:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
    --transition: all .4s;

    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vh;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--fonovyy-svetlyy);
    color: var(--nabornyy);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main-about {
    padding: 140px 0;
}

.main__program,
.main__gallery,
.main__testimonials {
    margin-bottom: 140px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
}

.button {
    background: var(--akcentnyy);
    border-radius: 60px;
    padding: 18px 36px;
    min-height: 62px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--nabornyy);
    transition: var(--transition);
}

.button:hover {
    background: #ff9138;
}

/* ================================================ */

.modal {
    position: fixed;

    inset: 0;
    background: #0000007c;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--fonovyy-svetlyy);
    max-width: 428px;
    border-radius: 20px;
    padding: 0 60px 60px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition)
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -64px auto 15px 12px;
    max-width: 248px;
}

.modal__title {
    font-family: var(--second-family);
    font-size: 42px;
    line-height: 0.9;
    color: var(--zagolovochnyy);
}

.modal__text {
    margin-top: 10px;
    margin-bottom: 30px;
}

.field {
    display: block;
    position: relative;
}

.field span {
    position: absolute;
    font-size: 11px;
    color: var(--inputy);
    top: 12px;
    left: 28px;

    opacity: 0;
    visibility: hidden;
}

.field__input {
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 28px;
    width: 100%;
    height: 62px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--akcentnyy);
}

.field__input::placeholder {
    color: var(--inputy);
    transition: var(--transition);
}

.field__input:hover::placeholder,
.field__input:focus::placeholder {
    color: var(--akcentnyy);
}

.field__input:focus {
    padding-top: 27px;
    font-size: 15px;
    border-color: var(--akcentnyy);
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.modal__form button {
    width: 100%;
    margin-top: 10px;
}
