:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--fonovyy-svetlyy);
    color: var(--nabornyy);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    background: var(--akcentnyy);
    border-radius: 60px;
    padding: 18px 36px;
    min-height: 62px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--nabornyy);
    transition: all .7s;
}

.button:hover {
    background: #ff9138;
}


/* ================================================ */

.header {
    padding-top: 19px;
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.logo-dark {
    max-width: 173px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav {
    display: flex;
    align-items: end;
    padding-bottom: 7px;
}

.nav__list {
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--nabornyy);
}

.nav__link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    transition: all .4s;
    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
}

.header__main {
    display: flex;
    align-items: flex-end;
    gap: 137px;
    padding: 50px 0 140px;
}

.header__inner {
    max-width: 519px;
    display: flex;
    flex-direction: column;
}

.header__start {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__title {
    font-family: "Gabriola", sans-serif;
    font-weight: 400;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
    margin-bottom: 30px;
}

.header__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--nabornyy);
    /* margin-top: 30px; */
    margin-bottom: 40px;
}

.header__button {
    max-width: 358px;
}

.header__pic {
    position: relative;
}

.controls__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    bottom: 13%;
    left: calc(100% - 39px);
}

.button-play {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.button-play img {
    padding-left: 8.8%;
}

.button-play::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 5px;
    border: 1px solid var(--akcentnyy);
    opacity: 0;
    transition: all .3s;
}

.button-play:hover::before {         
    opacity: 1;
}

.button-sign {
    color: var(--nabornyy);
}