:root {
    --akcentnyy: #ffa55c;
    --akcentnyy-2: #ceaad0;
    --fonovyy: #ffe0cb;
    --fonovyy-svetlyy: #fff9f4;
    --zagolovochnyy: #1f1711;
    --nabornyy: #312c27;
    --fioletovyy: #704174;
    --disabled: #e1d9e1;
    --inputy: #ac907a;
    --transition: all .4s;

    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--fonovyy-svetlyy);
    color: var(--nabornyy);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main-about {
    padding: 140px 0;
}

.main__program {
    margin-bottom: 140px;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    line-height: 0.82;
    color: var(--zagolovochnyy);
}

.button {
    background: var(--akcentnyy);
    border-radius: 60px;
    padding: 18px 36px;
    min-height: 62px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--nabornyy);
    transition: var(--transition);
}

.button:hover {
    background: #ff9138;
}

/* ================================================ */

.modal {
    position: fixed;

    inset: 0;
    background: #0000007c;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    position: relative;
    background: var(--fonovyy-svetlyy);
    max-width: 428px;
    border-radius: 20px;
    padding: 0 60px 60px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition)
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -64px auto 15px 12px;
    max-width: 248px;
}

.modal__title {
    font-family: var(--second-family);
    font-size: 42px;
    line-height: 0.9;
    color: var(--zagolovochnyy);
}

.modal__text {
    margin-top: 10px;
    margin-bottom: 30px;
}

.modal__form {}

.field {
    display: block;
    position: relative;
}

.field span {
    position: absolute;
    font-size: 11px;
    color: var(--inputy);
    top: 12px;
    left: 28px;

    opacity: 0;
    visibility: hidden;
}

.field__input {
    border: 1px solid var(--inputy);
    border-radius: 100px;
    padding: 19px 28px;
    width: 100%;
    height: 62px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--akcentnyy);
}

.field__input::placeholder {
    color: var(--inputy);
    transition: var(--transition);
}

.field__input:hover::placeholder,
.field__input:focus::placeholder {
    color: var(--akcentnyy);
}

.field__input:focus {
    padding-top: 27px;
    font-size: 15px;
    border-color: var(--akcentnyy);
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

.modal__form button {
    width: 100%;
    margin-top: 10px;
}

/* ================================================ */

.header {
    padding-top: 19px;
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.logo-dark {
    max-width: 173px;
    z-index: 11;
}

.logo-dark img {
    width: 100%;
}

.header__top {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav {
    display: flex;
    align-items: end;
    padding-bottom: 7px;
    font-size: 16px;
}

.nav__list {
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vh 40px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--nabornyy);
}

.nav__link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    transition: var(--transition);
    opacity: 0;
}

.nav__link:hover::before {
    opacity: 1;
}

/* ====================== */

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    z-index: 11;
    justify-content: center;
    align-items: center;
}

.burger-icon span {
    position: relative;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--zagolovochnyy);
    transition: var(--transition);
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::after {
    bottom: -8px;
}

.burger-icon span::before {
    top: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);

}

/* ====================== */

.header__main {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    padding: 50px 0 140px;
}

.header__inner {
    max-width: 519px;
    display: flex;
    flex-direction: column;
}

.header__start {
    font-weight: 400;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__title {
    margin-bottom: 30px;
}

.header__text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--nabornyy);
    /* margin-top: 30px; */
    margin-bottom: 40px;
}



.header__button {
    max-width: 358px;
    width: 100%;
}

.header__content {
    margin-right: 200px;
    margin-left: auto;
}

.header__pic {
    position: relative;
}

.controls__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    bottom: 13%;
    left: calc(100% - 39px);
}

.controls__button--mobile {
    display: none;
}

.button-play {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.button-play img {
    padding-left: 8.8%;
}

.button-play::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 5px;
    border: 1px solid var(--akcentnyy);
    opacity: 0;
    transition: all .3s;
}

.button-play:hover::before {
    opacity: 1;
}

.button-sign {
    color: var(--nabornyy);
}

/* ================================ */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    gap: 50px 53px;
}

.about__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    grid-row: 1 / 3;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 50%;
}

.about__img-control {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    bottom: 4.7%;
    left: 5%;
    border-radius: 20px;
    padding: 15px 20px;
    background: #957b97e6;
    color: var(--fonovyy-svetlyy);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--fonovyy-svetlyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 5px;
    border: 1px solid var(--akcentnyy-2);
    opacity: 0;
    transition: all .3s;
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__body {}

.about__heading {
    margin-bottom: 30px;
}

.about__title {}

.about__text-title {}

.about__text {
    margin-bottom: 40px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    border-radius: 20px;
    width: 100%;
    padding: 29px 23.5px 29px 24.5px;
    background: var(--fonovyy);
    min-height: 130px;
    display: flex;
    gap: 15px;
    align-items: center;
}


.about__grid-img {
    border: 1px solid var(--nabornyy);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grid-text {}

/* =============================== */


.program {}

.program__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 15px;
}

.program__heading {}

.program__title {
    margin-bottom: 20px;
}

/* =========================================== */
.program__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template-columns: 1.65fr 1fr;
    grid-template-columns: 287px 173px;
    grid-template-rows: repeat(3, 96px);
    gap: 40px;
}

.program__discount {
    font-size: 20px;
    background: var(--fonovyy);
    border-radius: 20px;
    padding: 40px 81px 40px 40px;
    grid-row: 1 / -2;
}

.program__discount-value {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}



.program__discount-value span {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    text-align: center;
    color: var(--akcentnyy);
    transform-origin: 0 0;
    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    from {
        color: #ff9138;
    }

    to {
        transform: scale(1.2);
        color: var(--akcentnyy);
    }
}

.program__discount-value p {
    display: block;
    text-align: end;
    margin-top: 7px;
}

.program__price {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
}

.program__price span {
    display: block;
    font-family: var(--second-family);
    font-size: 32px;
    line-height: .9;
    text-transform: none;
    color: var(--nabornyy);
}

.program__price-discount span {
    font-size: 50px;
}

.program__price-discount {}

.img__price-cake {
    max-width: 581px;
}

.img__price-cake img {
    max-width: 100%;
}

.program__price-button {
    grid-column: 1 / -1;
}

.program__price-button .button {
    width: 100%;
}



/* ============================================ */

.tab-controls {
    display: flex;
    gap: 26px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.tab-controls__item {
    /* background: var(--fonovyy);
    border-radius: 100px;
    padding: 14px 30px;
    max-width: 133px;
    height: 52px; */
    flex-shrink: 0;
}

.tab-controls__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);

    transition: var(--transition);
}

.tab-controls__link:hover {
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab-controls__link--active {
    background: var(--fonovyy);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: flex;
}

/* ======================= */
.accordion-list {
    width: 100%;
}

.accordion-list__item {
    margin-bottom: 30px;
    border: 1px solid var(--akcentnyy);
    border-radius: 20px;
    background: var(--fonovyy-svetlyy);
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__item--opened {}

.accordion-list__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 30px;
    width: 100%;
    border-radius: 20px;
    background: var(--fonovyy-svetlyy);


    font-family: var(--second-family);
    font-size: 42px;
    line-height: .9;
    color: var(--zagolovochnyy);
}

.accordion-list__control-title {}

.accordion-list__control-icon {
    border: 1.50px solid var(--akcentnyy);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 15px;

    transition: var(--transition);
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--akcentnyy);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--akcentnyy);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

/* .accordion-list__control-icon svg {
    margin-left: 2px;
} */

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 40px 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
    /* margin-top: -20px; */
    margin-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid var(--akcentnyy-2);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}

/* =============================== */




/* ================================ */

.footer {
    background: #ab8261;
    color: var(--fonovyy-svetlyy);
    padding-top: 30px;
    padding-bottom: 60px;
}

.footer__grid {
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    gap: 15px;
}

.footer__logo-social {
    max-width: 272px;
    margin-bottom: 20px;
}

.footer__logo {
    display: block;
    width: 100%;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.footer__socials-icons {
    max-width: 138px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    line-height: 0;
}

.socials-item path {
    transition: var(--transition);
}

.socials-item:hover path {
    fill: var(--akcentnyy);
}

.footer__nav-link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__nav-link::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: -13px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--akcentnyy);
    transition: var(--transition);
    opacity: 0;
}

.footer__nav-link:hover::before {
    opacity: 1;
}

.footer__nav-list {
    padding-top: 30px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--fonovyy-svetlyy);
}

.footer__info {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.info__time,
.info__address {
    display: flex;
    align-items: center;
    gap: 10.25px;
}

.tel {
    margin: 30px 0 47px 5vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tel a {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--fonovyy-svetlyy);
    transition: var(--transition);
}

.tel:hover a {
    color: var(--akcentnyy);
}

.copy {
    display: flex;
    justify-content: end;
    gap: 5px;
    color: #dec5b1;
}


/* =============================== */
/* =============================== */
/* =============================== */

/* @media (max-width: 1230px) {
    .about__grid {
        grid-template-columns: 1fr;
        justify-items: start;
        max-width: 400px;
        grid-column: 2/-1;
    }

    .about__img {
        grid-row: 1 / 2;
    }
} */



@media (max-width: 1200px) {
    .controls__button {
        position: static;
        max-width: 300px;
        padding-top: 15px;
    }

    .header__content {
        margin: 0;
    }

    /* =========================================== */

    .footer__grid {
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
    }

    .tel {
        margin: 30px 5vw 15px 5vw;
        align-items: center;
    }

    .copy {
        display: flex;
        justify-content: center;
    }

    /* ================================ */

    .about__inner {
        /* gap: 10px 20px; */
    }

    /* ================================ */

    .program__top {
        flex-direction: column;
    }

}

@media (max-width: 1050px) {
    .about__grid {
        grid-column: 1/-1;
    }

    .about__img {
        grid-row: 1 / 2;
    }

    /* =============================== */

    .main__program {
        margin-top: -8%;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--fonovyy);
        padding: 26vh 15px 30px;
        font-size: 24px;
        /* display: none; */
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        visibility: visible;
        display: block;
        opacity: 1;
    }

    .burger-icon {
        display: flex;
    }

    /* =================================== */

    .footer__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto); */
    }

    .footer__socials-icons {
        padding-left: 25%;
        padding-right: 25%;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
    }

    .footer__nav-list {
        padding-top: 10px;
    }

    .footer__nav-list {
        align-items: center;
    }

    .footer__info {
        align-items: center;
    }

    .tel {
        margin: 20px 5vw 15px 5vw;
    }

    /* ================================= */

    .title {
        font-size: 60px;
    }

    .about__inner {
        font-size: 14px;
    }

    .about__img-control {
        max-width: 300px;
        bottom: 0%;
        left: 0%;
        border-radius: 0 20px 0 20px;
        padding: 15px 20px;
        font-size: 13px;
    }

    .about__img-button {
        width: 60px;
        height: 60px;
    }

    /* ==================================== */

    .program__bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 840px) {
    .controls__button--mobile {
        display: flex;
        margin-bottom: 30px;
    }

    .header__content {
        display: none;
    }

    .header__text {
        margin-bottom: 10px;
    }

    .header__main {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 50px 0 140px;
        text-align: center;
    }

    .header__inner {
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header__main {
        padding-bottom: 40px;
    }
}

@media (max-width: 700px) {
    .about__img-control {
        max-width: 100%;
        border-radius: 0;
        font-size: 12px;
    }

    .title {
        font-size: 50px;
    }

    .about__inner {
        gap: 30px 20px;
    }

    /* ======================== */


}

@media (max-width: 550px) {
    .title {
        font-size: 12vw;
    }

    .about__inner {
        font-size: 12px;
    }

    .controls__button--mobile {
        font-size: 15px;
    }

    /* ===================================== */

    .about__inner {
        grid-template-columns: 1fr;
    }

    .about__heading {
        margin-bottom: 30px;
    }

    .about__img-control {
        gap: 10px;
        max-width: 300px;
        bottom: 4.7%;
        left: 5%;
        border-radius: 20px;
    }

    .about__inner {
        margin-top: -80px;
    }

    .about__grid {
        grid-template-columns: 1fr;
    }

    /* ============================================== */

    .modal__img {
        margin: -64px auto 15px 12px;
        width: 70%;
    }

    .modal__window {
        padding: 0 20px 20px;
        font-size: 12px;
    }

    .modal__title {
        font-size: 30px;
    }

    /* ================================= */

    .program__top {
        font-size: 14px;
    }

    .accordion-list__control {
        font-size: 7.5vw;
    }

    .accordion-content {
        font-size: 4vw;
        flex-direction: column;
    }

    /* ================================= */

    .program__action {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

@media (max-width: 350px) {
    .about__img-control {
        max-width: 400px;
        bottom: 0;
        left: 0;
        border-radius: 0;
        padding: 10px 10px;
    }

    .about__img-button {
        width: 50px;
        height: 50px;
    }

    .about__img-button img {
        width: 50%;
    }

    .about__img-button::before {
        inset: 3px;
    }

    /* ========================= */

    .tab-controls {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .tab-controls__item {
        width: 100%;
    }

    .tab-controls__link {
        display: flex;
        justify-content: center;
    }

    /* ============================ */
    .program__discount {
        /* font-size: 15px; */
    }
    
    .program__discount-value{
        margin-top: 20px;
    }

    .program__discount-value p {
        margin-top: 20px;
    }
}
