@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";
@import "media.css";



.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    gap: 50px 53px;
}

.about__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    grid-row: 1 / 3;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 50%;
}

.about__img-control {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    bottom: 4.7%;
    left: 5%;
    border-radius: 20px;
    padding: 15px 20px;
    background: #957b97e6;
    color: var(--fonovyy-svetlyy);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--fonovyy-svetlyy);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 5px;
    border: 1px solid var(--akcentnyy-2);
    opacity: 0;
    transition: all .3s;
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__body {}

.about__heading {
    margin-bottom: 30px;
}

.about__title {}

.about__text-title {}

.about__text {
    margin-bottom: 40px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    border-radius: 20px;
    width: 100%;
    padding: 29px 23.5px 29px 24.5px;
    background: var(--fonovyy);
    min-height: 130px;
    display: flex;
    gap: 15px;
    align-items: center;
}


.about__grid-img {
    border: 1px solid var(--nabornyy);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__grid-text {}

/* =============================== */


.program {}

.program__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 15px;
}

.program__heading {}

.program__title {
    margin-bottom: 20px;
}

/* =========================================== */
.program__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template-columns: 1.65fr 1fr;
    grid-template-columns: 287px 173px;
    grid-template-rows: repeat(3, 96px);
    gap: 40px;
}

.program__discount {
    font-size: 20px;
    background: var(--fonovyy);
    border-radius: 20px;
    padding: 40px 81px 40px 40px;
    grid-row: 1 / -2;
}

.program__discount-value {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}



.program__discount-value span {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    text-align: center;
    color: var(--akcentnyy);
    transform-origin: 0 0;
    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    from {
        color: #ff9138;
    }

    to {
        transform: scale(1.2);
        color: var(--akcentnyy);
    }
}

.program__discount-value p {
    display: block;
    text-align: end;
    margin-top: 7px;
}

.program__price {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
}

.program__price span {
    display: block;
    font-family: var(--second-family);
    font-size: 32px;
    line-height: .9;
    text-transform: none;
    color: var(--nabornyy);
}

.program__price-discount span {
    font-size: 50px;
}

.program__price-discount {}

.img__price-cake {
    max-width: 581px;
}

.img__price-cake img {
    max-width: 100%;
}

.program__price-button {
    grid-column: 1 / -1;
}

.program__price-button .button {
    width: 100%;
}



/* ============================================ */

.tab-controls {
    display: flex;
    gap: 26px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.tab-controls__item {
    /* background: var(--fonovyy);
    border-radius: 100px;
    padding: 14px 30px;
    max-width: 133px;
    height: 52px; */
    flex-shrink: 0;
}

.tab-controls__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);

    transition: var(--transition);
}

.tab-controls__link:hover {
    background: var(--fonovyy);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0);
}

.tab-controls__link--active {
    background: var(--fonovyy);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: flex;
}

/* ======================= */
.accordion-list {
    width: 100%;
}

.accordion-list__item {
    margin-bottom: 30px;
    border: 1px solid var(--akcentnyy);
    border-radius: 20px;
    background: var(--fonovyy-svetlyy);
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__item--opened {}

.accordion-list__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 30px;
    width: 100%;
    border-radius: 20px;
    background: var(--fonovyy-svetlyy);
    transition: var(--transition);


    font-family: var(--second-family);
    font-size: 42px;
    line-height: .9;
    color: var(--zagolovochnyy);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-title {}

.accordion-list__control-icon {
    border: 1.50px solid var(--akcentnyy);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 15px;

    transition: var(--transition);
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--akcentnyy);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--akcentnyy);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--fonovyy-svetlyy);
}

/* .accordion-list__control-icon svg {
    margin-left: 2px;
} */

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 40px 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--akcentnyy-2);
    /* margin-top: -20px; */
    margin-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid var(--akcentnyy-2);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}

/* =============================== */

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
    max-height: 222px;
}

.gallery__img img {
    width: 100%;
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    gap: 50px 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__text {}

.gallery__nav {
    display: flex;
    gap: 98px;
    align-items: end;
    position: relative;
    font-family: var(--second-family);
    font-size: 42px;
    line-height: .9;
    justify-content: end;
}

.gallery__prev,
.gallery__next {
    cursor: pointer;
    border: 1.5px solid var(--akcentnyy);
    background: var(--fonovyy-svetlyy);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--akcentnyy);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--fonovyy-svetlyy);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.50px solid var(--disabled);
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: var(--disabled);
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: var(--fonovyy-svetlyy);
}

.gallery__pagination {
    text-align: center;
    color: var(--nabornyy);
    display: flex;
    position: absolute;
    /* left: 38.9%;
    top: 82.1%; */
    left: 50%;
    top: 100%;
    height: auto;
    transform: translate(-50%, -34px);
    width: auto;
}

.gallery__next {}

.gallery__slider {}

.gallery__wrapper {}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}

/* ======================================== */

.testimonials {}

.testimonials__inner {}

.testimonials__content {
    display: flex;
    /* align-items: end; */
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 15px;
}

.testimonials__info {
    max-width: 632px;
}

.testimonials__title {
    margin-bottom: 20px;
}

.title {}

.testimonials__text {}

.testimonials__nav {
    display: flex;
    gap: 30px;
    align-items: end;
    justify-content: end;
}

.testimonials__prev,
.testimonials__next {
    cursor: pointer;
    border: 1.5px solid var(--akcentnyy);
    background: var(--fonovyy-svetlyy);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.testimonials__prev:hover,
.testimonials__next:hover {
    background: var(--akcentnyy);
}

.testimonials__prev:hover path,
.testimonials__next:hover path {
    fill: var(--fonovyy-svetlyy);
}

.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.50px solid var(--disabled);
    cursor: auto;
}

.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
    fill: var(--disabled);
}

.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: var(--fonovyy-svetlyy);
}

.testimonials__slider {
    overflow: visible;
}

.testimonials__wrapper {
    margin-bottom: 40px;
}

.testimonials__slide {
    display: flex;
    gap: 30px;
    background: var(--fonovyy);
    border-radius: 20px;
    /* max-width: 624px; */
    height: auto;
    padding: 30px 30px 40px 30px;
    opacity: 0.5;
}

.testimonials__slide.swiper-slide {
    transform: scale(.9);
}

.swiper-slide-active.testimonials__slide {
    transform: scale(1);
    opacity: 1;
}

.testimonials__student {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__student-img {
    border-radius: 20px;
    overflow: hidden;
    width: 165px;
    height: 165px;
}

.testimonials__student-img img {
    width: 100%;
}

.testimonials__name {
    line-height: 160%;
    text-transform: uppercase;
    color: var(--zagolovochnyy);
    margin-top: 20px;
    margin-bottom: 5px;
}

.testimonials__inst {
    color: var(--akcentnyy-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
}

.testimonials__quote span {
    font-family: var(--second-family);
    font-size: 32px;
    line-height: .9;
    color: var(--zagolovochnyy);
    display: block;
    margin-bottom: 10px;
}

.testimonials__scrollbar {
    background: var(--fonovyy);
}

.testimonials__scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    height: 7px;
}

.testimonials__scrollbar .swiper-scrollbar-drag {
    background: var(--akcentnyy);
}

/* ================================== */

.contact {
    padding: 140px 0;
    background: url("../img/decor/bg-contact.png") 50% 0 / cover no-repeat;
}
.contact__inner {
    display: flex;
    align-items: center;
    gap: 84px;
}
.contact__img img {
    width: 100%;
}
.contact__body {
    max-width: 420px;
}
.contact__title {
    margin-bottom: 20px;
}
.contact__text {
    margin-bottom: 40px;
}
.contact__form {
}
.contact__label {
    margin-bottom: 10px;
}
.contact__input {
    margin-bottom: 20px;
}
.contact__check-label {
    display: block;
    margin-bottom: 20px;
}
.contact__checkbox {
}
.contact__form .button {
    width: 100%;
}




/* ======================================== */

/* @import "media.css"; */

@media (max-width: 1200px) {
    .controls__button {
        position: static;
        max-width: 300px;
        padding-top: 15px;
    }

    .header__content {
        margin: 0;
    }

    /* =========================================== */

    .footer__grid {
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
    }

    .tel {
        margin: 30px 5vw 15px 5vw;
        align-items: center;
    }

    .copy {
        display: flex;
        justify-content: center;
    }

    /* ================================ */

    .about__inner {
        /* gap: 10px 20px; */
    }

    /* ================================ */

    .program__top {
        flex-direction: column;
    }

}

@media (max-width: 1050px) {
    .about__grid {
        grid-column: 1/-1;
    }

    .about__img {
        grid-row: 1 / 2;
    }

    /* =============================== */

    .main__program {
        margin-top: -8%;
    }

    /* =============================== */

    .testimonials__scrollbar.swiper-scrollbar {
        margin: 0 auto;
        width: 50%;
    }

    .swiper-scrollbar-drag {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--fonovyy);
        padding: 26vh 15px 30px;
        font-size: 24px;
        /* display: none; */
        transform: translateY(-50%);
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        visibility: visible;
        display: block;
        opacity: 1;
    }

    .burger-icon {
        display: flex;
    }

    /* =================================== */

    .footer__grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto); */
    }

    .footer__socials-icons {
        padding-left: 25%;
        padding-right: 25%;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
    }

    .footer__nav-list {
        padding-top: 10px;
    }

    .footer__nav-list {
        align-items: center;
    }

    .footer__info {
        align-items: center;
    }

    .tel {
        margin: 20px 5vw 15px 5vw;
    }

    /* ================================= */

    .title {
        font-size: 60px;
    }

    .about__inner {
        font-size: 14px;
    }

    .about__img-control {
        max-width: 300px;
        bottom: 0%;
        left: 0%;
        border-radius: 0 20px 0 20px;
        padding: 15px 20px;
        font-size: 13px;
    }

    .about__img-button {
        width: 60px;
        height: 60px;
    }

    /* ==================================== */

    .program__bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 840px) {
    .controls__button--mobile {
        display: flex;
        margin-bottom: 30px;
    }

    .header__content {
        display: none;
    }

    .header__text {
        margin-bottom: 10px;
    }

    .header__main {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding: 50px 0 140px;
        text-align: center;
    }

    .header__inner {
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header__main {
        padding-bottom: 40px;
    }

    .gallery__inner {
        grid-template-columns: none;
    }

    .gallery__img {
        display: none;
    }

    .gallery__info {
        max-width: none;
    }

    /* ============================== */

    .testimonials__content {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .about__img-control {
        max-width: 100%;
        border-radius: 0;
        font-size: 12px;
    }

    .title {
        font-size: 50px;
    }

    .about__inner {
        gap: 30px 20px;
    }

    /* ======================== */

    .gallery__content {
        flex-direction: column;

    }

    .gallery__pagination {
        left: calc(100% - 36px - 49px);
        /* top: 100%; */
        /* transform: translate(-50%, -34px); */
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

    /* ========================= */

    .testimonials__slide {
        flex-direction: column;
    }

}

@media (max-width: 550px) {
    .main__program {
        margin-bottom: 60px;
    }

    .title {
        font-size: 12vw;
    }

    .about__inner {
        font-size: 12px;
    }

    .controls__button--mobile {
        font-size: 15px;
    }

    /* ===================================== */

    .about__inner {
        grid-template-columns: 1fr;
    }

    .about__heading {
        margin-bottom: 30px;
    }

    .about__img-control {
        gap: 10px;
        max-width: 300px;
        bottom: 4.7%;
        left: 5%;
        border-radius: 20px;
    }

    .about__inner {
        margin-top: -80px;
    }

    .about__grid {
        grid-template-columns: 1fr;
    }

    /* ============================================== */

    .modal__img {
        margin: -64px auto 15px 12px;
        width: 70%;
    }

    .modal__window {
        padding: 0 20px 20px;
        font-size: 12px;
    }

    .modal__title {
        font-size: 30px;
    }

    /* ================================= */

    .program__top {
        font-size: 14px;
    }

    .accordion-list__control {
        font-size: 7.5vw;
    }

    .accordion-content {
        font-size: 4vw;
        flex-direction: column;
    }

    /* ================================= */

    .program__action {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

@media (max-width: 350px) {
    .about__img-control {
        max-width: 400px;
        bottom: 0;
        left: 0;
        border-radius: 0;
        padding: 10px 10px;
    }

    .about__img-button {
        width: 50px;
        height: 50px;
    }

    .about__img-button img {
        width: 50%;
    }

    .about__img-button::before {
        inset: 3px;
    }

    /* ========================= */

    .tab-controls {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .tab-controls__item {
        width: 100%;
    }

    .tab-controls__link {
        display: flex;
        justify-content: center;
    }

    /* ============================ */
    .program__discount {
        /* font-size: 15px; */
    }

    .program__discount-value {
        margin-top: 20px;
    }

    .program__discount-value p {
        margin-top: 20px;
    }
}
